<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>TECHAWAY SESSIONS DEMO</title>
    <meta name="description" content="Demo page in a Veniam TECHAWAY session">
    <meta name="author" content="Rui Costa">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!-- But honestly, if someone is still using IE6-8 you should really ignore them -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link href="stylesheets/style.css" rel="stylesheet">

  </head>
  <body>
    <%- body %>
  </body>
</html>